@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;

}

:root {
  --primary: #F9E400;
  --secondary: #FFAF00;
  font-family: 'Inter', sans-serif;
}

.success,
.error {
  color: white;
  padding: 12px;
  border-radius: 10px;
  margin: 10px 0;
}

.success {
  background-color: green;
}

.error {
  background-color: red;
}